@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300italic,300,500,700);
* {
  box-sizing: border-box;
}

body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four h2, body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three h2, body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two h2, body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart #one h2,
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four span,
body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three span,
body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two span,
body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart #one span {
  opacity: 1;
  top: 0px;
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four i, body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three i, body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two i, body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart #one i {
  opacity: 1;
  left: 0px;
  -webkit-transition: all .2s .4s;
  transition: all .2s .4s;
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four h2, body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three h2, body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two h2, body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart #one h2 {
  -webkit-transition: all .2s .5s;
  transition: all .2s .5s;
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four span, body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three span, body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two span, body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart #one span {
  -webkit-transition: all .2s .6s;
  transition: all .2s .6s;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gridz.png"), -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(top, #98336B 0%, #A0072E 100%);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gridz.png"), -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.9) 100%), linear-gradient(to bottom, #98336B 0%, #A0072E 100%);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gridz.png"), -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.9) 100%), -webkit-linear-gradient(top, #98336B 0%, #A0072E 100%);
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gridz.png"), -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.9) 100%), linear-gradient(to bottom, #98336B 0%, #A0072E 100%);
  height: 100vh;
  overflow: hidden;
}
body .charts_inner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
body .charts_inner h1 {
  color: white;
  font-weight: 100;
}
body .charts_inner h2 {
  color: white;
  font-weight: 100;
  font-size: 16px;
  margin: -10px 0px 60px 0px;
  color: #d04760;
}
body .charts_inner__options {
  margin: 0 auto;
  width: 740px;
  text-align: center;
}
body .charts_inner__options input[type="radio"] {
  display: none;
}
body .charts_inner__options label {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px -1px 0px 0px #90285D inset, 0px -2px 0px 0px rgba(255, 255, 255, 0.14) inset;
  -webkit-transition: all .2s, box-shadow .01s;
  transition: all .2s, box-shadow .01s;
  cursor: pointer;
  display: inline-block;
  background-image: -webkit-linear-gradient(top, #CD455E 0%, #8C275D 100%);
  background-image: linear-gradient(to bottom, #CD455E 0%, #8C275D 100%);
  color: white;
  font-weight: 200;
  padding: 14px 30px;
  font-size: 14px;
  margin: 0 -4px;
}
body .charts_inner__options label:nth-of-type(4) {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
body .charts_inner__options label:nth-of-type(1) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
body .charts_inner__options label i {
  margin-right: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  top: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}
body .charts_inner__options label:hover {
  color: white;
  -webkit-transition: all .2s, box-shadow .1s;
  transition: all .2s, box-shadow .1s;
  background-image: -webkit-linear-gradient(top, #91295D 0%, #751B44 100%);
  background-image: linear-gradient(to bottom, #91295D 0%, #751B44 100%);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
  z-index: -1;
}
body .charts_inner__options input[type="radio"]:checked + label {
  color: white;
  -webkit-transition: all .2s, box-shadow .1s;
  transition: all .2s, box-shadow .1s;
  background-image: -webkit-linear-gradient(top, #91295D 0%, #751B44 100%);
  background-image: linear-gradient(to bottom, #91295D 0%, #751B44 100%);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
  z-index: -1;
  z-index: -1;
}
body .charts_inner__options input[type="radio"]:checked + label i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #EF376C;
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-1 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.25);
          transform: rotate(180deg) scaleY(0.25);
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-2 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.75);
          transform: rotate(180deg) scaleY(0.75);
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-3 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(1.5);
          transform: rotate(180deg) scaleY(1.5);
}
body .charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-4 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.66667);
          transform: rotate(180deg) scaleY(0.66667);
}
body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-1 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.33333);
          transform: rotate(180deg) scaleY(0.33333);
}
body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-2 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.75);
          transform: rotate(180deg) scaleY(0.75);
}
body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-3 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.75);
          transform: rotate(180deg) scaleY(0.75);
}
body .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-4 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.66667);
          transform: rotate(180deg) scaleY(0.66667);
}
body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart .c-1 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.25);
          transform: rotate(180deg) scaleY(0.25);
}
body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart .c-2 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.15385);
          transform: rotate(180deg) scaleY(0.15385);
}
body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart .c-3 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.33333);
          transform: rotate(180deg) scaleY(0.33333);
}
body .charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart .c-4 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.2);
          transform: rotate(180deg) scaleY(0.2);
}
body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart .c-1 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(1);
          transform: rotate(180deg) scaleY(1);
}
body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart .c-2 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.25);
          transform: rotate(180deg) scaleY(0.25);
}
body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart .c-3 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(0.75);
          transform: rotate(180deg) scaleY(0.75);
}
body .charts_inner__options input[type="radio"]#c-1:checked + label + input + label + input + label + input + label + .chart .c-4 .cube .cube_inner {
  -webkit-transform: rotate(180deg) scaleY(1);
          transform: rotate(180deg) scaleY(1);
}
body .charts_inner__options .chart {
  clear: both;
  padding: 60px 0px 120px 0px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  overflow: hidden;
  position: relative;
}
body .charts_inner__options .chart .stat_block {
  position: absolute;
  width: 100%;
  bottom: 80px;
}
body .charts_inner__options .chart .cube_details {
  position: relative;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: auto;
  width: 180px;
  float: left;
  text-align: center;
  color: white;
  text-align: left;
  font-size: 20px;
}
body .charts_inner__options .chart .cube_details h2 {
  color: #d04760;
  font-weight: 100;
  font-size: 13px;
  text-align: left;
  margin: 0;
  position: relative;
  top: 4px;
  opacity: 0;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
}
body .charts_inner__options .chart .cube_details span {
  position: relative;
  top: 4px;
  opacity: 0;
  -webkit-transition: all .2s .2s;
  transition: all .2s .2s;
}
body .charts_inner__options .chart .cube_details__icon {
  float: left;
  font-size: 32px;
  margin-right: 14px;
  margin-left: 18px;
}
body .charts_inner__options .chart .cube_details__icon i {
  position: relative;
  -webkit-transition: all .2s .1s;
  transition: all .2s .1s;
  left: -4px;
  opacity: 0;
  top: 4px;
}
body .charts_inner__options .chart .cube_details__stat {
  float: left;
}
body .charts_inner__options .chart_item {
  width: 180px;
  padding: 30px;
  height: 200px;
  float: left;
  position: relative;
}
body .charts_inner__options .chart_item .cube_inner {
  width: 100px;
  -webkit-transition: all 0.45s cubic-bezier(0.36, 1.64, 0.29, 0.88);
  transition: all 0.45s cubic-bezier(0.36, 1.64, 0.29, 0.88);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: 0;
}
body .charts_inner__options .chart_item .cube_inner div {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
body .charts_inner__options .chart_item .cube_inner div.cube_front {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  background-image: -webkit-linear-gradient(top, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
  background-image: linear-gradient(to bottom, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
}
body .charts_inner__options .chart_item .cube_inner div.cube_back {
  -webkit-transform: translateZ(-50px);
          transform: translateZ(-50px);
}
body .charts_inner__options .chart_item .cube_inner div.cube_left {
  -webkit-transform: rotateY(90deg) translateZ(-50px);
          transform: rotateY(90deg) translateZ(-50px);
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #c4d7ea 0%, rgba(29, 88, 136, 0) 100%);
  background-image: linear-gradient(to bottom, #c4d7ea 0%, rgba(29, 88, 136, 0) 100%);
}
body .charts_inner__options .chart_item .cube_inner div.cube_right {
  -webkit-transform: rotateY(90deg) translateZ(50px);
          transform: rotateY(90deg) translateZ(50px);
  background-color: #fafafa;
  background-image: -webkit-linear-gradient(top, #c4d7ea 0%, rgba(29, 88, 136, 0) 100%);
  background-image: linear-gradient(to bottom, #c4d7ea 0%, rgba(29, 88, 136, 0) 100%);
}
body .charts_inner__options .chart_item .cube_inner div.cube_top {
  -webkit-transform: rotateX(90deg) translateZ(50px);
          transform: rotateX(90deg) translateZ(50px);
  background-color: whitesmoke;
  background-image: -webkit-linear-gradient(top, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
  background-image: linear-gradient(to bottom, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
}
body .charts_inner__options .chart_item .cube_inner div.cube_bottom {
  -webkit-transform: rotateX(90deg) translateZ(-50px);
          transform: rotateX(90deg) translateZ(-50px);
  background-color: whitesmoke;
  background-image: -webkit-linear-gradient(top, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
  background-image: linear-gradient(to bottom, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
}
body .charts_inner__options .chart_item .cube div.cube_shadow {
  background-color: rgba(0, 0, 0, 0.36);
  position: absolute;
  box-shadow: 0px 0px 50px 24px rgba(0, 0, 0, 0.36);
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  z-index: -1;
}
